body {
  padding-top: 0px;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
	box-shadow: 1px 1px 3px #888888;
}
.media i {
	color: #faaf34;
}
.row {
	margin-right: 0px !important;
	margin-left: 0px !important;
}
input {
	z-index: 99 !important;
}
input#up {
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
input#down {
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.nav {
	z-index: 9999;
}
.thumbnail {
	z-index: 1;
}
#up{
	z-index: 9999;	
}
#down{
	z-index: 9999;	
}
input[type=number]{
    width: 60px;
} 
.starter-template {
  text-align: center;
}
li {
	  list-style-type: none;
}
.mini {
	clear: both;
}

/* секции */
section {/*
	margin-top: 40px;*/
	overflow: hidden;
	clear: both;
	padding-top: 33px;

}
section#skills {
	margin-top: 35px;
}
.skills {
	height: 517px !important;
}
.samples {
	height: 617px !important;
}
.filters {/*
	padding-top: 12px;*/
}

/* контейнер кнопочек фильтров */
.filters {
    text-align: initial !important;
}
/* кнопочки фильтров*/
#filters-list {
	padding-left: 0px;
}
#filters-list li {/*
	padding-top: 3px;*/
}
#filters-list button {
    background-color: #eeba37;
}
#filters-list button:hover {
    background-color: #eeba37;
    color: black;
}

/* список заказов */
#cart-list {
	text-align: left;
	padding-left: 20px;
}
#cart-list :nth-child(2){/*
	padding-bottom: 8px;*/
}
#cart-list li {/*
	font-size: 14px;*/
}
#order {
	padding-top: 12px;
	padding-left: 0px !important;;
}
#make-order {
	border-color: #ccc;
	background-image: linear-gradient(rgb(254, 248, 227) 0%, rgb(236, 178, 31) 100%);
	background-color: #eeba37;
	border-radius: 3px;
	font-size: 13px !important; 
}
#make-order:hover {
	color: black;
}

/* список филтрованных продуктов */
.preorder {
	float: right;/*
	padding-right: 20px;*/
}
ul#products-list {
    padding-left: 20px !important;
}
#products-list li{
	text-align: start;
	 padding-left: 0px;
}

hr { margin-top: 10px; margin-bottom: 10px }

button:focus {outline:0 !important; display: none;}



/* контейнер калькулятора логики */
.main {
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	background-color: #f7f7f7;
    margin-left: 0vh;
    margin-right: 0vh;
    margin-top: 3px;
}

.products {
	padding-top: 12px;
	padding-left: 0px !important;
}
#products-list li {
	font-size: 14px;
	padding-left: 0px;

}

/* секция калькулятор - контакт*/
.upper-main {
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	background-color: #eeeeee;
	padding-bottom: 12px;
}
.customer {
    width: 25vh;
}
.cont {
	padding-top: 1vh;
	position: relative;
}
p#cust {
	float: left;
    padding-right: 3px;
}
p#tel {
	float: left;
    padding-right: 3px;
}
/* калькулятор - контакт инпуты */
input.form {
	float: left;
}
/* калькулятор наполнение */
.napolnenie {
	padding-bottom: 20px;
}

/* карусель */
#myCarousel {
	border: 2px solid;
    border-radius: 6px;
    overflow: hidden;
    border-color: rgb(238, 238, 238);
    z-index: 120;
    box-shadow: 1px 1px 3px rgb(247, 247, 247);
}
.carousel-caption h3 {
    font-size: 28px;
    color: #333333;
    text-shadow: 0 1px 2px #eeeeee;
}
.carousel-caption p {
    font-size: 16px;
    color: #333333;
    text-shadow: 0 1px 2px #eeeeee;
}

.carousel-caption {
    box-shadow: 1px 1px 3px rgb(84, 81, 81);
    border-color: azure;
    /* color: teal; */
    background: #f7f7f7;
    border-radius: 2px;
}
.carousel-indicators .active{
    background-color: #faaf34;
}

.carousel-indicators li {
 	background-color: rgba(51, 122, 183, 0.3);
}

/* кнопка Send в контактах */
.form-group button {
	border-color: #ccc;
    background-image: linear-gradient(rgb(254, 248, 227) 0%, rgb(236, 178, 31) 100%);
    background-color: #eeba37;
    border-radius: 3px;
    font-size: 13px !important;
    color: #333;
}

.form-group button:hover {
	border-color: #ccc;
    background-image: linear-gradient(rgb(254, 248, 227) 0%, rgb(236, 178, 31) 100%);
    background-color: #eeba37;
    border-radius: 3px;
    font-size: 13px !important;
    color: black;
}

/* footer */
.bs-docs-footer {
    text-align: left;
}

.bs-docs-footer {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 50px;
    color: #99979c;
    text-align: center;
    background-color: #222;
}
footer {
	
    display: block;

}
.bs-docs-footer-links li {
    display: inline-block;
    padding-right: 6px;
}
.bs-docs-footer-links ul{
	margin-right: 32px; 
}
.bs-docs-footer a {
    color: #fff;
}
.form-group label {
   font-weight: 100 !important;
}